# The test matrix includes OSX and Linux

# Don't know how to do non-Conda builds on OSX

# Linux builds needs extra settings (see "dist" and "services" below)

matrix:
  allow_failures:
    - name: "OSX, Python 2.7, TEST_CONDA=1"
      os: osx
      env: SLYCOT_PYTHON_VERSION=2.7 TEST_CONDA=1

    - name: "OSX, Python 3.5, TEST_CONDA=1"
      os: osx
      env: SLYCOT_PYTHON_VERSION=3.5 TEST_CONDA=1

    - name: "OSX, Python 3.6, TEST_CONDA=1"
      os: osx
      env: SLYCOT_PYTHON_VERSION=3.6 TEST_CONDA=1

    - name: "OSX, Python 3.7, TEST_CONDA=1"
      os: osx
      env: SLYCOT_PYTHON_VERSION=3.7 TEST_CONDA=1

  include:
    - name: "OSX, Python 2.7, TEST_CONDA=1"
      os: osx
      env: SLYCOT_PYTHON_VERSION=2.7 TEST_CONDA=1

    - name: "OSX, Python 3.5, TEST_CONDA=1"
      os: osx
      env: SLYCOT_PYTHON_VERSION=3.5 TEST_CONDA=1

    - name: "OSX, Python 3.6, TEST_CONDA=1"
      os: osx
      env: SLYCOT_PYTHON_VERSION=3.6 TEST_CONDA=1

    - name: "OSX, Python 3.7, TEST_CONDA=1"
      os: osx
      env: SLYCOT_PYTHON_VERSION=3.7 TEST_CONDA=1

    - name: "Ubuntu 16.04, Python 2.7, TEST_CONDA=0"
      os: linux
      dist: xenial
      services: xvfb
      env: SLYCOT_PYTHON_VERSION=2.7 TEST_CONDA=0

    - name: "Ubuntu 16.04, Python 2.7, TEST_CONDA=1"
      os: linux
      dist: xenial
      services: xvfb
      env: SLYCOT_PYTHON_VERSION=2.7 TEST_CONDA=1

    - name: "Ubuntu 16.04, Python 3.5, TEST_CONDA=0"
      os: linux
      dist: xenial
      services: xvfb
      env: SLYCOT_PYTHON_VERSION=3.5 TEST_CONDA=0

    - name: "Ubuntu 16.04, Python 3.5, TEST_CONDA=1"
      os: linux
      dist: xenial
      services: xvfb
      env: SLYCOT_PYTHON_VERSION=3.5 TEST_CONDA=1

    - name: "Ubuntu 16.04, Python 3.6, TEST_CONDA=0"
      os: linux
      dist: xenial
      services: xvfb
      env: SLYCOT_PYTHON_VERSION=3.6 TEST_CONDA=0

    - name: "Ubuntu 16.04, Python 3.6, TEST_CONDA=1"
      os: linux
      dist: xenial
      services: xvfb
      env: SLYCOT_PYTHON_VERSION=3.6 TEST_CONDA=1

    - name: "Ubuntu 16.04, Python 3.7, TEST_CONDA=0"
      os: linux
      dist: xenial
      services: xvfb
      env: SLYCOT_PYTHON_VERSION=3.7 TEST_CONDA=0

    - name: "Ubuntu 16.04, Python 3.7, TEST_CONDA=1"
      os: linux
      dist: xenial
      services: xvfb
      env: SLYCOT_PYTHON_VERSION=3.7 TEST_CONDA=1


before_install:
  - if [[ $TEST_CONDA == 0 && $TRAVIS_OS_NAME != linux ]]; then
      echo "Only Linux supported for non-Conda builds";
      exit 1;
    fi
    # from here on assume $TEST_CONDA == 0 implies $TRAVIS_OS_NAME == linux

  - if [[ $TEST_CONDA == 0 ]]; then
      sudo apt-get install liblapack-dev libblas-dev;
      sudo apt-get install gfortran;
      sudo apt-get install cmake;
    fi


install:
  #
  # Install miniconda to allow quicker installation of dependencies
  # See https://conda.io/docs/user-guide/tasks/use-conda-with-travis-ci.html
  #
  - if [[ $TRAVIS_OS_NAME == linux ]]; then
      wget http://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
    else
      wget https://repo.anaconda.com/miniconda/Miniconda3-latest-MacOSX-x86_64.sh -O miniconda.sh;
    fi
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q --all
  - if [[ $TEST_CONDA == 1 ]]; then
      conda install conda-build;
      conda install conda-verify;
    fi
  - conda info -a
  #
  # Set up a test environment for testing everything out
  - conda create -q -n test-environment python="$SLYCOT_PYTHON_VERSION" pip coverage nose numpy openblas
  - source activate test-environment

  #
  # Make sure that fortran compiler can find conda libraries
  #
  - export LIBRARY_PATH="$HOME/miniconda/envs/test-environment/lib";

  # install scikit-build
  - if [[ $TEST_CONDA == 0 ]]; then
      conda config --append channels conda-forge;
      conda install -c conda-forge scikit-build >=0.8.0 ;
    fi
  #
  # Install the slycot package (two ways, to improve robustness).  For the
  # conda version, need to install lapack from conda-forge (no way to specify
  # this in the recipe).
  # add the conda-forge channel to the config, otherwise openblas or
  # lapack cannot be found in the check
  # with --override-channels to make sure the locally built slycot is installed
  #
  - if [[ $TEST_CONDA == 1 ]]; then
      conda config --append channels conda-forge;
      conda build --python "$SLYCOT_PYTHON_VERSION" conda-recipe-openblas;
      conda install conda-forge::openblas>=0.3.0;
      conda install local::slycot;
    else
      CMAKE_GENERATOR="Unix Makefiles" BLA_VENDOR="OpenBLAS" python setup.py install;
    fi
  #
  # coveralls not in conda repos :-(
  - pip install coveralls


script:
  # Local unit tests
  # TODO: replace with nose?
  - cd ..
  - python Slycot/runtests.py --coverage --no-build
  #
  # As a deeper set of tests, get test against python-control as well
  #
  # Additional packages required for python-control
  - conda install scipy matplotlib
  # Get python-control from source and install
  - git clone --depth 1 https://github.com/python-control/python-control.git control
  - cd control
  - python setup.py test


after_success:
  - coveralls
