include slycot/src/*.pyf
include COPYING
include AUTHORS
include gpl-2.0.txt
include README.rst
include CMakeLists.txt
include pyproject.toml
include conda-recipe/*
include slycot/CMakeLists.txt
include slycot/*.py
include slycot/src/*.f
include slycot/tests/*.py
graft slycot/src/SLICOT-Reference
